.DS_Store
node_modules
/dist
/old_images
/public/images/400
/public/images/768
/public/images/1200

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.bak